
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="backgroundWhite border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp; Add new Category</a>
        </div>
    </div>
</div>

